<html>

<head>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

   {% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
   {% for category, message in messages %}
   {% if category == 'success' %}
   <div class="alert alert-success alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" class="fade close">
         <span aria-hidden="true">x</span>
      </button>
      <strong>{{message}}</strong>
   </div>
   {% endif %}

   {% if category == 'error' %}
   <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" class="fade close">
         <span aria-hidden="true">x</span>
      </button>
      <strong>{{message}}</strong>
   </div>
   {% endif %}

   {% if category == 'info' %}
   <div class="alert alert-info alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" class="fade close">
         <span aria-hidden="true">x</span>
      </button>
      <strong>{{message}}</strong>
   </div>
   {% endif %}
   {% endfor %}
   {% endif %}
   {% endwith %}
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav ">
            <li class="nav-item active">
               <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
               <a class="nav-link" href="{{ url }}/app/display">Application Display</a>
            </li>
            <li class="nav-item active">
               <a class="nav-link" href="{{ url_for('schedule_display') }}">Scheduling Details</a>
            </li>
            <li class="nav-item active">
               <a class="nav-link" href="{{ url_for('app_instance_display') }}">Application Instances</a>
            </li>
         </ul>
         <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
               <a class="nav-link" href="#">Notification</a>
            </li>
            <li class="nav-item active">
               <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
      </div>
   </nav>
   <div style="margin-top:10%">
      <table class="table table-hover table-bordered" style="text-align:center; margin: auto; width: 50% !important;">
         <thead class="thead-dark">
            <tr class="table-active">
               <th scope="col" style="font-size: 1.0rem; font-family: Verdana, Geneva, Tahoma, sans-serif;">App ID</th>
               <th scope="col" style="font-size: 1.0rem; font-family: Verdana, Geneva, Tahoma, sans-serif;">App Instance
                  Id</th>
               <th scope="col" style="font-size: 1.0rem; font-family: Verdana, Geneva, Tahoma, sans-serif;">End user
                  Name
               </th>
               <th scope="col" style="font-size: 1.0rem; font-family: Verdana, Geneva, Tahoma, sans-serif;">Sensors</th>
               <th scope="col" style="font-size: 1.0rem; font-family: Verdana, Geneva, Tahoma, sans-serif;">Controllers
               </th>
               <th scope="col" style="font-size: 1.0rem; font-family: Verdana, Geneva, Tahoma, sans-serif;">Models</th>
               <th scope="col" style="font-size: 1.0rem; font-family: Verdana, Geneva, Tahoma, sans-serif;">Link</th>

            </tr>
         </thead>

         <tbody>
            {% for event in tasks %}
            <tr class="table-success">
               <!-- <th> 1 </th> -->

               <td>{{ event['app_id'] }}<br><br>
               </td>
               <td>{{ event['app_instance_id'] }}</td>
               <td>{{ event['end_user'] }}</td>


               <td>
                  <ul>
                     {% for sensor in event['sensors'] %}
                     <li> {{ sensor }} </li>
                     {% endfor %}
                  </ul>
               </td>

               <td>
                  <ul>
                     {% for control in event['controllers'] %}
                     <li> {{ control }} </li>
                     {% endfor %}
                  </ul>
               </td>
               <td>
                  <ul>
                     {% for model in event['models'] %}
                     <li> {{ model['model_id'] }} </li>
                     {% endfor %}
                  </ul>
               </td>
               
               {% if event['status'] == 'Success' %}
               <td>
                  <form method='post' action="{{ url_for('link_redirect') }}">
                     <input type="hidden" value="{{ event['app_id'] }}" name="appid">
                     <button type="button" class="btn btn-primary"> Click here </a>
                  </form>
               </td>

               {% else %}
               <td>
                     <input type="hidden" value="{{ event['app_id'] }}" name="appid">
                     <button type="button" class="btn btn-primary" disabled> Click here </a>
               </td>
               {% endif %}

               <!-- <td><input class="btn btn-primary" id="testRedirect" onclick="startTest({{ event['id']}})" type="button" value="start test"></td> -->
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>


   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>

</body>

</html>