attrs==21.4.0
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
cssselect==1.1.0
cssutils==2.4.0
idna==3.3
importlib-resources==5.7.1
jsonschema==4.4.0
kafka-python==2.0.2
lxml==4.8.0
premailer==3.10.0
pyrsistent==0.18.1
requests==2.27.1
urllib3==1.26.9
yagmail==0.15.277
zipp==3.8.0
